################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Xamarin/Webview/.vs/WebviewFocusIssue/v15/Server/sqlite3
/Xamarin/Webview/.vs/WebviewFocusIssue/v15
/Xamarin/Webview/WebviewFocusIssue/WebviewFocusIssue.Android/obj
/Xamarin/Webview/WebviewFocusIssue/WebviewFocusIssue.Android/WebviewFocusIssue.Android.csproj.user
/Xamarin/Webview/WebviewFocusIssue/WebviewFocusIssue.iOS/bin/iPhoneSimulator/Debug
/Xamarin/Webview/WebviewFocusIssue/WebviewFocusIssue.iOS/obj
/Xamarin/Webview/WebviewFocusIssue/WebviewFocusIssue.iOS/WebviewFocusIssue.iOS.csproj.user
/Xamarin/Webview/WebviewFocusIssue/WebviewFocusIssue/obj
/Xamarin/Webview/WebviewFocusIssue/WebviewFocusIssue/WebviewFocusIssue.csproj.user
